@page "/profile/myaccount"
@attribute [Authorize]

<h3>MyAccount</h3>
<div class="col-sm-12">
    <div>
        <img class="img-fluid" src="#"/>
        <form method="post" enctype="multipart/form-data" action="api/users/avatar">
            <input class="form-control" type="file" />
            <button>Upload</button>
        </form>
    </div>
    <div>
        <form method="post">
            <div class="form-group">

            </div>
            <button class="btn btn-secondary">Cancel</button>
            <button class="btn btn-outline-primary">Update</button>
        </form>
    </div>
</div>


@code {

}
