@page "/profile/myaccount"
@attribute [Authorize]

<h3>MyAccount</h3>
<div class="col-sm-12">
    <div>
        <img class="img-fluid" src="#"/>
    </div>
    <div>
        <form method="post">
            <div class="form-group">

            </div>
            <button class="btn btn-secondary">Cancel</button>
            <button class="btn btn-outline-primary">Update</button>
        </form>
    </div>
</div>


@code {

}
