<div class="loader-wrap">
    <div class="loader">
        <p>Loading...</p>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
@code {

}
